.wrap{
    margin-top: 70px;
    margin-bottom: 150px;
    text-align: center;
}
.lo_title{
    font-size: 2rem;
}

.loginbox{
    display: inline-block;
    list-style: none;
    max-width: 400px;
}

.logintitle{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
    left: -175px;
}

.logininput{
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-bottom: 1.5px solid #333;
    padding: 5px;
    height: 35px;
    width: 90%;
    min-width: 400px;
}
#pwtxt{
    padding-left: 25px;
}

.loginbtn{
    margin:20px;
    padding:10px 175px;
    border: #2F80ED 2px solid;
    background-color: #2F80ED;
    border-radius: 15px;
    font-size: 1.2rem;
    color: white;
}


.join:hover, .idsearch:hover, .pwsearch:hover{
    border-bottom: #2F80ED 2px solid;
}

.idsearch{
    margin: 0px 80px;
}