.wrap{
    text-align: center;
    padding: 30px 0;
}

form {
    padding-top: 20px;
}

span{
    color: #0000FE;
}


.joinForm {
    display: inline-block;
    list-style: none;
    max-width: 550px;
}

.title {
    display: inline-block;
    text-align: center;
    width: 200px;
    font-weight: bold;
    padding: 20px 10px;
}

.joinInput{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-bottom: 1.5px solid #333;
    padding: 5px;
    height: 35px;
    width: 75%;
    min-width: 250px;
}

.joinInput2{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-bottom: 1.5px solid #333;
    padding: 5px;
    height: 35px;
    width: 60%;
    min-width: 200px;
}


.joinForm {

}


.hide {
    display: none;
}

