.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 100vh;
    margin-bottom: 10vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27rem;
    height: 80vh;
    padding: 30px;
    padding-top: 20px;
}

ul li {
    list-style: none;
}

span{
    color: #0000FE;
}

.joinForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: inline-block;
    padding: 14px 200px 14px 0;
    font-weight: bold;
    font-size: 1rem;
}

.joinInput{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-bottom: 1.5px solid #333;
    padding: 5px;
    width: 93%;
    min-width: 250px;
}

.joinInput2{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-bottom: 1.5px solid #333;
    padding: 5px;
    height: 35px;
    width: 66%;
    min-width: 200px;
}

.idCheck {
    width: 99px;
    height: 36px;
    /*padding-left: 2px;*/
    border: #BADCFF 2px solid;
    border-radius: 10px;
    font-size: 15px;
    color: #221F1F;
}

.idCheck:hover{
    background-color: #BADCFF;
    color: #221F1F;
}

.hide {
    display: none;
}

.failure-message, .failure-message2, .mismatch-message {
    font-size: 14px;
    padding-top: 5px;
    color: #acdbff;
}

.check {
    margin-top: 10px;
    padding: 3px 0 3px 0;
    font-size: 14px;
}

.join {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    border: white 1px solid;
    background-color: #0000FE;
    color: white;
}

.reset {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    color: #221F1F;
}

.textbox {
    padding-top: 10px;
}

.button {
    padding-top: 30px;
}