ul {
    display: flex;
}

ul > li {
    list-style: none;
}

li{
    display: inline-block;
    text-align: center;
}

.trade, .tradeState {
    display: flex;
}

.trade h4, .tradeState h5 {
    padding-right: 20px;
}
