input[type=file]::file-selector-button {
  background: #2F80ED;
  color: white;
  border: 1px solid #2F80ED;
  border-radius: 10px;
  padding: 5px;

  input[type=file]::file-selector-button {
    cursor: pointer;

  }
}