#wrap{
    border-radius: 50px;
    text-overflow: ellipsis;
}

#pay_btn{
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: #2F80ED;
    color: white;
    border: 2px solid #2F80ED;
    border-radius: 10px;
}

#pay_btn:hover{
    border: 2px solid #2F80ED;
    background-color: white;
    color: #2F80ED;
}

ul{
    padding-inline-start: 0;
}

ul li{
    margin: 10px;
}

#confirm_info{
    background-color: rgba(255,255,255,0.5);
    margin: 100px 200px;
    padding: 50px;
    border-radius: 30px;
}

canvas{
    border-radius: 50px;
}

.full-landing-image{
    display: flex;
    justify-content: center;
}

.info_txt{
    color: darkgray;
    margin: 0;
}

h1{
    margin: 5px;
}

.field{
    display: inline-block;
    text-align: start;
    width: 150px;
}

.form_title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

textarea{
    border: 2px solid #2F80ED;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0 10px 0;
}

.end_btn{
    display: flex;
    justify-content: center;
    text-align: center;
}